@use "./components/reset";
@use "./components/typography";
@import "./mixins/utils";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 120%;
  font-weight: 400;

  color: #181818;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
  font-weight: normal;
  font-size: 62.5%;
  margin: 0;
  position: relative;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  font-size: 1.5em;
  display: flex;
}

nav {
  width: 25dvw;
  height: 100%;
  display: flex;
  align-items: center;
  padding-inline: 1em;
  font-size: clamp(1.5em, 2.5vw, 2.5em);
  background-color: #f8f8f8;
}



.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline: 1em;
  padding-block: 2em;
  width: 75dvw;


  .ambient {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    .animation {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);


      div {
        border-radius: 50%;
        width: 24vw;
        height: 24vw;
        display: inline-block;
        filter: blur(100px);
        animation-name: colorFade;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        &:nth-of-type(even) {
          right: 0;
          background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
          animation: pulse 10s infinite;
        }

        &:nth-of-type(odd) {
          left: 0;
          background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
          position: relative;

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: opacity 5s ease;
          }

          &::before {
            background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
            opacity: 1;
            animation: fadeToNewGradient 10s infinite;
          }

          &::after {
            background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
            opacity: 0;
            animation: fadeFromOldGradient 10s infinite;
          }
        }
      }
    }
    .content {
      height: 100%;
      display: grid;
      place-items: center;
      align-content: center;
      text-align: center;

      p {
        margin-block: .5rem;
      }

      .properties {
        mix-blend-mode: difference;
        margin-block-start: 1rem;
        max-width: 35%;
        filter: drop-shadow(0 0 0.75rem #000);
        a {
          text-decoration: underline;
        }
      }
    }
  }


}

.calendar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(13, auto);
  gap: 1.5em;
}

.calendar .class h2 {
  border-block-end: 1px solid #ddd;
  color: #bebebe;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover {
    color: #181818;
  }
}

nav ul {
  list-style: none;
  padding: 0;
}

// Define breakpoints
$breakpoints: (
  phone: 40em,
  tablet: 768px,
  desktop: 1024px,
  widescreen: 1216px,
  fullhd: 1408px,
);

// Define the media mixin
@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// Usage of the media mixin
body {
  @include media("phone") {
    place-items: start;
    main {
      flex-direction: column;
      width: 100vw;
      nav {
        width: 100%;
        height: fit-content;
        flex-direction: row;
        justify-content: start;

        ul {
          display: flex;
          gap: 1em;
          flex-wrap: wrap;
        }
      }

      .wrapper {
        width: 100%;
        height: fit-content;
      }
    }
  }
}

//Animations

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
    filter: blur(0px);
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
    filter: blur(100px);
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
    filter: blur(0px);
  }
}

@keyframes colorFade {
  0% {
    background-color: rgb(255, 228, 223);
  }
  50% {
    background-color: rgb(255, 228, 223);
  }
  100% {
    background-color: rgb(255, 228, 223);
  }
}

@keyframes fadeToNewGradient {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeFromOldGradient {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}