p,
input,
select,
caption,
textarea {
  font-weight: normal;
  line-height: 120%;
  overflow-wrap: break-word;
}

a,
a:visited,
a:active {
  color: darkseagreen;
  text-decoration: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: darkolivegreen;
}
