{% extends "layouts/base.njk" %}
{% block content %}
        <div class="animation">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
        </div>

        <div class="wrapper">
                <div class="content">
                        <p>Ambient webpage</p>
                        <p>Make an ambient, animated webpage.</p>
                        <p>Your page should be abstract:<br>
            no text or images.</p>
                        <p>Animate your composition.<br>
            The result should be an ambient, looping animation, like a screensaver.<br>
            It's a passive website, meant for watching.</p>
                        <p>Some CSS properties you might want to experiment with...</p>

                        <div class="properties">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/blur">CSS blur</a>
                                <a href="https://www.w3schools.com/css/css3_2dtransforms.asp" target="_blank">2D transforms</a>
                                <a href="https://www.w3schools.com/css/css3_3dtransforms.asp" target="_blank">3D transforms</a>
                                <a href="https://www.w3schools.com/css/css3_gradients.asp" target="_blank">Gradients</a>
                                <a href="https://www.w3schools.com/css/css3_colors.asp" target="_blank">CSS Colors</a>
                                <a href="https://albertwalicki.com/blog/creating-shapes-in-css" target="_blank">Drawing shapes</a>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow" target="_blank">Box Shadow</a>

                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow" target="_blank">Border radius</a>
                        </div>
                </div>
        </div>
{% endblock %}