{% extends "layouts/base.njk" %}
{% block content %}

  <div class="wrapper">
    <h2>Calendar</h2>
    <div class="calendar">
      <!-- 30.08.2024 -->
      <div class="class">
        <h2 class="btn">30.08.2024</h2>
        <section>
          <div class="class-wrapper" hidden>
            <div class="class-content">
              <h3>In class</h3>
              <ol>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1ddSzaJDP5R40xhDhh2ICQmcj3HRyn1aVq8ypc-HJH0Y/edit?usp=sharing"
                    target="_blank"
                    class="external"
                    >Review syllabus</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1LqHPkkse3nWUx1mQ-ug81FMHrE1cLnPT7_LtbikOFlA/edit?usp=sharing"
                    target="_blank"
                    class="external"
                  >
                    Brief history of the web
                  </a>
                </li>
                <li>
                  Break–
                  <ul>
                    <li>
                      <a
                        href="https://www.are.na/group/art-369-fall-2024/invite/816M_-f4CZzFT7jUR0tIvQ"
                        target="_blank"
                        class="external"
                      >
                        Join the class Are.na group
                      </a>
                    </li>
                    <li>
                      Prepare to share a website you've been loving recently, a recent
                      favorite. Add a link to this
                      <a
                        href="https://www.are.na/art-369-fall-2024/favorite-websites-a63p2k7zcfa"
                        target="_blank"
                        class="external"
                        >Are.na channel</a
                      >.
                    </li>
                    <li>
                      If you haven't already, fill out the
                      <a
                        href="https://forms.gle/ymPRXggXq2QDt3h6A"
                        target="_blank"
                        class="external"
                        >Class survey</a
                      >.
                    </li>
                    <li>
                      Download
                      <a
                        href="https://code.visualstudio.com/"
                        target="_blank"
                        class="external"
                        >Visual Studio Code</a
                      >
                      or another text editor of your choice.
                    </li>
                  </ul>
                </li>
                <li>Introductions</li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1vQtUsdK_iGIaQx62wPg6bJKaVO34Upnu2vI5gKWkH4k/edit?usp=sharing"
                    target="_blank"
                    class="external"
                    >What is a website?</a
                  >
                </li>
              </ol>

              <h3>Next class</h3>
              <ol>
                <li>
                  <a href="/p1">Project 1</a>: Complete Levels 1 and 2</li>

                <li>
                  Coding: Read through
                  <a
                    href="https://coda.io/d/_dyrqG8B5yKE/HTML-basics_suDqb"
                    target="_blank"
                    class="external"
                    >HTML Basics</a
                  >
                  and
                  <a
                    href="https://coda.io/d/_dyrqG8B5yKE/CSS-1-Basics_su0iR"
                    target="_blank"
                    class="external"
                    >CSS Basics</a
                  >
                </li>

                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1FZYGPrrmL2algg6eKQ3U8B07BR6Rwsm3X64hzdNDi9g/edit?usp=sharing"
                    target="_blank"
                    class="external"
                  >
                    Set up your Github account
                  </a>
                </li>

                <li>
                  Reading: Ursula K. Le Guin, 
                  <a
                    href="https://attachments.are.na/28916136/bcd7754ee7cb66f3af47ca3b186c273a.pdf?1718995692"
                    target="_blank"
                    class="external"
                    >Carrier Bag Theory of Fiction</a
                  >
                </li>
              </ol>
            </div>
          </div>
        </section>
      </div>

      <!-- 09.09.2024 -->
      <div class="class">
        <h2 class="btn">09.09.2024</h2>
        <section>
          <div class="class-wrapper" hidden>
            <div class="class-content">
              <h3>In class</h3>
              <ol>
                <li>
                      Reading Discussion: Ursula K. Le Guin,
                      <a
                        href="https://attachments.are.na/28916136/bcd7754ee7cb66f3af47ca3b186c273a.pdf?1718995692"
                        target="_blank"
                        class="external"
                        >Carrier Bag Theory of Fiction</a>
                </li>
                <li>
                  Let us spend some time to develop our community values on what class critique should look like. Use this document to add your thoughts: 
                  <a href="https://docs.google.com/document/d/1-AzRF-7nIQZWWKTwrV6XpwNJ5wt7krE2wBPOXD7Q6Cs/edit?usp=sharing">Document</a>
                </li>
                <li>
                      Share Project 1: levels 1 and 2.
                    </li>
                <li>
                  <ul>
                    <li>
                          Sign up for a
                          <a
                            href="https://docs.google.com/document/d/1rdxH2v0NIHZ_QgGhX1F9ChC-OH1EiD8JEUF_MUdq3qA/edit?usp=sharing"
                            target="_blank"
                            >topics presentation</a
                          >.
                        </li>
                    <li>
                          Add your class website to
                          <a
                            href="https://docs.google.com/spreadsheets/d/1dcmMo-XdP_u7M8tAbNJxNXpLsvnQWVGliVn7pT8BAaM/edit?usp=sharing"
                            target="_blank"
                            >the list</a
                          >.
                        </li>
                  </ul>
                </li>

                <li>
                      Coding:
                      <a
                        href="https://docs.google.com/presentation/d/1_Mcqb5grpy0DvTQz_5Yz20htJ_MQT9p_BfwegQXmKDY/edit?usp=sharing"
                        class="external"
                        target="_blank"
                        >HTML recap + CSS intro</a
                      >
                </li>
                <li>Exercise: </li>
              </ol>
              <h3>For next week</h3>
              <ol>
                <li>
                  <a href="p1/">
                        Project 1: Complete Levels 3 and 4
                      </a>
                </li>
                <li>
                      Coding: Read
                      <a
                        href="https://coda.io/d/_dyrqG8B5yKE/CSS-2-Box-model_suUft"
                        class="external"
                        target="_blank"
                        >CSS 2: Box model</a
                      >
                </li>
                <li>
                      Reading: Excerpts from Octavia Butler and Samuel Delany,
                      <a
                        href="https://docs.google.com/document/d/1pXekG3BNYUkYbp-ndebL79m10vLQu6wXsamSokUeOa4/edit?usp=sharing"
                        target="_blank"
                        class="external"
                        >The Value of Literacy</a
                      >
                </li>
                <li>
                      Reading: Frank Chimero,
                      <a
                        href="https://frankchimero.com/blog/2015/the-webs-grain/"
                        target="_blank"
                        class="external"
                        >The Web's Grain</a
                      >
                </li>
                <li>
                      Research: Find at least one example of interesting
                      typography online. Add it to
                      <a
                        href="https://www.are.na/art-369-fall-2024/cool-type-on-the-web-chzigpxosyy"
                        target="_blank"
                        class="external"
                        >Are.na</a
                      >.
                    </li>
              </ol>
            </div>
          </div>
        </section>
      </div>

      <!-- 16.09.2024 -->
      <div class="class">
        <h2 class="btn">16.09.2024</h2>
        <section>
          <div class="class-wrapper" hidden>
            <div class="class-content">
              <h3>In class</h3>
              <ol>
                <li>
                      Collective annontation. Review the reading by Octavia
                      Butler and Samuel Delaney:
                      <a
                        href="https://docs.google.com/document/d/1pXekG3BNYUkYbp-ndebL79m10vLQu6wXsamSokUeOa4/edit?usp=sharing"
                        target="_blank"
                        >Google Doc</a
                      >. In at least two places, respond to something in the
                      text. Add a note, question, link, or thought directly to
                      the Google Doc. If you open the page in a private window,
                      you can edit anonymously. (20min)
                    </li>

                <li>
                      In groups of four, share work in progress on the collection.
                      Each person should introduce their project with the
                      following. (40min)<br/>
                  <ul>
                    <li>What is your collection about?</li>
                    <li>What is the audience for your collection?</li>
                  </ul>
                </li>

                <li>
                  <a
                        href="https://docs.google.com/presentation/d/1E8RsBX0WiPssu7J5mFuQF12HyBfWIV5etvlGtAHJEZU/edit?usp=sharing"
                        target="_blank"
                        >CSS Layout Part I (30min)</a
                      >
                </li>

                <li>
                      Break &
                      <a
                        href="https://2024.software-for-people.net/images.php"
                        target="_blank"
                        >Exercise: An arrangement of pictures</a
                      >
                </li>

                <li>
                      Look at
                      <a
                        href="https://www.are.na/art-369-fall-2024/cool-type-on-the-web-chzigpxosyy"
                        target="_blank"
                        >Typography online examples.</a
                      >
                </li>
              </ol>

              <h3>For next week</h3>
              <ol>
                <li>
                  <a href="p1/"> Project 1: Complete Level 5 </a>
                </li>

                <li>
                      Coding: Read through
                      <a
                        href="https://coda.io/d/_dyrqG8B5yKE/CSS-3-Layout_suGre"
                        class="external"
                        target="_blank"
                        >CSS 3: Layout</a
                      >
                </li>
                <li>
                      Reading:
                      <a
                        href="https://reallifemag.com/bad-metaphors-close-to-the-metal/"
                        class="external"
                        target="_blank"
                        >Close to the Metal: The value of reintroducing friction
                        into our interactions with computers by Emma R.
                        Norton</a
                      >
                </li>
              </ol>
            </div>
          </div>
        </section>
      </div>

      <!-- 23.09.2024 -->
      <div class="class">
        <h2 class="btn">23.09.2024</h2>
        <section>
          <div class="class-wrapper" hidden>
            <div class="class-content">
              <h3>In class</h3>
              <ol>
                <li>
                      In groups, look at the examples of
                      <a
                        href="https://www.are.na/art-369-fall-2024/cool-type-on-the-web-chzigpxosyy"
                        target="_blank"
                        >Typograhy on the web</a
                      >. On at least one block (that somebody else added), add a
                      comment that includes:
                      <ul>
                    <li>
                          A credit for who designed the site, if you can find
                          it.
                        </li>
                    <li>
                          A description of what makes the typography notable.
                          I'm curious: what effect does the design have on the
                          content? Positive or negative ;)
                        </li>
                    <li>We'll quickly share in 20min.</li>
                  </ul>
                </li>
                <li>
                      In groups, talk about the collections you're working on:
                      <a
                        href="/"
                        >Groups here</a
                      >. Goals for today:
                      <ul>
                    <li>
                          What is your collection about? I am curious about the content and the audience. Can you find at least 15 entries?
                        </li>
                    <li>
                          Of the pages you've made so far, which version feels
                          most interesting to you? I'm curious how the design
                          choices relate to content and audience. How might you
                          expand and apply this design language to the whole
                          collection?
                        </li>
                  </ul>
                </li>
                <li>
                  In class exercise:
                      Joseph Albers, Colors and Grids
                      Remix this Glitch project:
                      <a
                        href="https://glitch.com/edit/#!/albers-grid"
                        target="_blank"
                        >CSS Layout Part II</a>
                </li>
              </ol>
              <h3>For next week</h3>
              <ol>
                <li>
                      Coding: Read
                      <a
                        href="https://coda.io/d/_dyrqG8B5yKE/CSS-4-Animations-transitions_suwR2"
                        class="external"
                        target="_blank"
                        >CSS animations + transitions</a
                      >
                </li>
                <li>
                      Project 1: complete
                      <a href="p1/" target="_blank">Level 6</a>. Also,
                      start to collect a few more entries in your collection–the
                      finished project should have at least fifteen pages.
                    </li>
                <li>
                      Exercise:
                      <a href="ambient/" target="_blank">Ambient website</a>
                </li>
                <li>
                      Find two websites with unusual hover states or animations,
                      and add that to
                      <a
                        href="https://www.are.na/art-369-fall-2024/hover-states-n26vvvq4svg"
                        class="external"
                        target="_blank"
                        >Are.na</a
                      >
                </li>
                <li>
                  Reading:
                  <a
                    href="https://art.teleportacia.org/observation/vernacular/"
                    target="_blank"
                    class="external"
                    >Olia Lialina, Vernacular Web</a
                  >
                </li>
              </ol>
            </div>
          </div>
        </section>
      </div>

      <!-- 30.09.2024 -->
      <div class="class">
        <h2 class="btn">30.09.2024</h2>
        <section>
          <div class="class-wrapper" hidden>
            <div class="class-content">
              <h3>In class</h3>
              <ol>
                <!-- Brainstorm... Web Design as... -->
                <li>
                  <a
                        href="https://docs.google.com/document/d/1xmxUCaeQ2XBynj8agNV2ZxXaeIR_WtCxk7gfh_FCfnw/edit?usp=sharing"
                        target="_blank"
                        >Brainstorm: Website as...</a
                      >
                </li>

                <li>
                      Share
                      <a href="ambient/" target="_blank">Ambient websites</a
                      >.
                    </li>

                <li>
                      Look through
                      <a
                        href="https://www.are.na/art-369-fall-2024/hover-states-n26vvvq4svg"
                        target="_blank"
                        >Hover states</a
                      >.
                    </li>

                <li>
                  <a
                        href="https://docs.google.com/presentation/d/1MLFJ5dGLLnsnXQasUGUNWP_Aw9QyRYPl8Maq-WKlG6g/edit#slide=id.p"
                        target="_blank"
                        >Media queries and responsive design</a
                      ><br/>
                  <a href="https://glitch.com/edit/#!/media-query-art">
                        Remix this Glitch project for a short in-class exercise
                      </a>
                      Ane then
                      <a
                        href="https://docs.google.com/presentation/d/1MLFJ5dGLLnsnXQasUGUNWP_Aw9QyRYPl8Maq-WKlG6g/edit#slide=id.gc9a86f1bbd_1_0"
                        target="_blank"
                        >Exercise: Website as...</a
                      >
                </li>

                <li>Second half of class</li>
                <ul>
                  <li>
                        1-1 Meetings:
                        <a
                          href="https://docs.google.com/spreadsheets/d/1HC3ofR6WbYd165ZmpOM9fBuQSU-zuJYTpa-8X2DhfSs/edit?usp=sharing"
                          target="_blank"
                          >Sign up here</a
                        >
                  </li>
                </ul>
            </ol>
            <h3>For next week</h3>
            <ol>
              <li>
                      Finish
                      <a
                        href="https://docs.google.com/presentation/d/1-rTMJrVQxpl7jGpoyGfFSMS8Gis2s-6rQsRZc7t_hW8/edit#slide=id.gc9a86f1bbd_1_0"
                        target="_blank"
                        >Exercise: Website as...</a
                      >
              </li>
              <li>
                      Coding: Read
                      <a
                        href="https://coda.io/d/_dyrqG8B5yKE/CSS-6-Responsive-design-Media-queries_su_hu"
                        class="external"
                        target="_blank"
                        >Responsive design & Media Queries</a
                      >
              </li>
              <li>
                <a href="p1/" target="_blank">Project 1</a>:
                      Finish levels 7 and 8. Next week we'll talk about
                      Navigation. Heads up... this project should be complete
                      March 7.
                    </li>
              <li>
                      Research: Find two websites with interesting navigation,
                      and add those to our
                      <a
                        href="https://www.are.na/art-369-fall-2024/navigation-pxl_jveuu5s"
                        target="_blank"
                        >Are.na channel</a
                      >.
                    </li>
              <li>
                      Read
                      <a
                        href="https://www.newyorker.com/magazine/2015/01/26/cobweb"
                        target="_blank"
                        >Jill Lepore: Can the Internet be Archived?</a
                      >
              </li>
            </ol>
          </div>
        </div>
      </section>
    </div>

    <!-- 07.10.2024 -->
    <div class="class">
      <h2 class="btn">07.10.2024</h2>
      <section>
        <div class="class-wrapper" hidden>
          <div class="class-content">
            <h3>In class</h3>
            <ol>
              <li>
                      Navigation: in groups
                      <ul>
                  <li>
                          Review examples of navigation on
                          <a
                            href="https://www.are.na/art-369-fall-2024/navigation-pxl_jveuu5s"
                            target="_blank"
                            >Are.na</a
                          >. Pick a website to share with the class. I'm curious
                          to know: how do you move through the site? Is there
                          more than one way to navigate?
                        </li>
                  <li>
                          Then, share progress on your collection. How did you
                          think about navigation in this project?
                        </li>
                </ul>
              </li>
              <!-- Missing closing </li> for Navigation -->
              <li>
                      Break
                      <ul>
                  <li>
                          Add a link to your "Website as..." page to this
                          <a
                            href="https://docs.google.com/spreadsheets/d/1dcmMo-XdP_u7M8tAbNJxNXpLsvnQWVGliVn7pT8BAaM/edit?usp=sharing"
                            target="_blank"
                            >doc</a
                          >.
                        </li>
                  <li>
                          Add any HTML/CSS questions you have to this
                          <a
                            href="https://docs.google.com/document/d/1puZcwb5vzFHLHI0EP7uxElA2WAZ4Yobu8qIT54k-86Q/edit?usp=sharing"
                            target="_blank"
                            >doc</a
                          >.
                        </li>
                </ul>
              </li>
              <li>
                <a
                        href="https://docs.google.com/presentation/d/15EFMuC_lt165Eg_cED8E3jGAKikATSKjheunsVC9FOk/edit?usp=sharing"
                        target="_blank"
                        >Javascript intro: Enzo Mari remix</a
                      >
              </li>
              <li>
                      A few 1-1 meetings:
                      <a
                        href="https://docs.google.com/spreadsheets/d/1HC3ofR6WbYd165ZmpOM9fBuQSU-zuJYTpa-8X2DhfSs/edit?usp=sharing"
                        target="_blank"
                        >Sign up here</a
                      >
              </li>
            </ol>
            <h3>For next week</h3>
            <ol>
              <li>
                <em>Finish Exercise: Enzo Mari remix</em>––Make some
                      changes to the
                      <a
                        href="https://docs.google.com/presentation/d/15EFMuC_lt165Eg_cED8E3jGAKikATSKjheunsVC9FOk/edit#slide=id.g2bb0805d7eb_0_151"
                        target="_blank"
                        >sample code</a
                      >. See slides 19-20 for some ideas about what to change.
                    </li>
              <li>
                <em>Class homepage</em>––If you haven't already, make
                      yourself a class homepage <i>with links</i> to each
                      project and exercise. We're going to use this in the
                      Collection Project reveiw.
                    </li>
              <li>
                <em>Coding</em>––Read
                      <a
                        href="https://coda.io/d/Tech-lectures_dyrqG8B5yKE/JS-1-Basics_suFRU#_luu82"
                        target="_blank"
                        >JS1: basics</a
                      >
              </li>
              <li>
                <em>Project 1: Collection</em>––Keep refining your project.
                      This is due in two weeks, October 21.
                    </li>
              <li>
                <em>Read or check out</em>
                <ul>
                  <li>
                          American Artist,
                          <a
                            href="https://static1.squarespace.com/static/59238d36d2b8575d127794a4/t/5a60bdecf9619a7f881b02a0/1516289526013/UNBAG_2_AmericanArtist.pdf"
                            target="_blank"
                            >Black Gooey Universe</a
                          >
                  </li>
                  <li>
                          Colossal Cave Adventure:
                          <a
                            href="https://en.wikipedia.org/wiki/Colossal_Cave_Adventure"
                            target="_blank"
                            >about the game</a
                          >
                          and
                          <a
                            href="https://rickadams.org/adventure/advent/"
                            target="_blank"
                            >play it online</a
                          >
                  </li>
                  <li>
                          Olia Lialina,
                          <a
                            href="https://sites.rhizome.org/anthology/lialina.html"
                            target="_blank"
                            >My Boyfriend Came Back from the War</a
                          >
                  </li>
                </ul>
              </li>
            </ol>
          </div>
          <!-- Closing for class-content -->
        </div>
        <!-- Closing for class-wrapper -->
      </section>
      <!-- Closing for section -->
    </div>

    <!-- 14.10.2024 -->
    <div class="class">
      <h2 class="btn">14.10.2024</h2>

      <section>
        <div class="class-wrapper" hidden>
          <div class="class-content">
            <h3>In class</h3>
            <ol>
              <!-- 30min -->
              <li>
                Anybody need help getting their website on Github pages?
              </li>
              <li>Kickoff: <a href="p2/">Project 2</a>

              </li>
              <li>
                Javascript in-class demo: Erasure Poetry. We'll create a simple erasure poetry tool in class. Remix this Glitch project:
                      <a
                        href="https://glitch.com/edit/#!/erasure-poetry"
                        target="_blank"
                        >Erasure Poetry</a>
              </li>

              <li>
                      If time... Share Enzo Mari Remix and Website as exercise
                    </li>

              <!-- 3 - 5:20 -->
              <li>
                <a
                        href="https://docs.google.com/spreadsheets/d/1HC3ofR6WbYd165ZmpOM9fBuQSU-zuJYTpa-8X2DhfSs/edit?gid=714650793#gid=714650793"
                        target="_blank"
                        >Meetings</a
                      >
              </li>

            </ol>
            <h3>For next week</h3>
            <ol>
              <li>
                <em>Finish Project 1: Collection</em>– We'll critique this
                      project next week.
                    </li>
              <li>
                <em>Reading</em>– Read/watch at least one of the following
                      <ul>
                  <li>
                          Hito Steyerl,
                          <a
                            href="https://www.e-flux.com/journal/10/61362/in-defense-of-the-poor-image/"
                            target="_blank"
                            >In defense of the poor image</a
                          >
                  </li>
                  <li>
                          Aria Dean,
                          <a
                            href="https://arkive.net/gallery/eulogy-for-a-black-mass"
                            target="_blank"
                            >Eulogy for a Black Mass</a
                          >
                  </li>
                  <li>
                          Orit Gat,
                          <a
                            href="https://www.frieze.com/article/data-roaming"
                            target="_blank"
                            >Data Roaming (Paquete Semanal)</a
                          >
                  </li>
                </ul>
              </li>
              <li>
                <em>Coding</em>–
                      <a
                        href="https://coda.io/d/Tech-lectures_dyrqG8B5yKE/JS-2-Functions-how-to-call-them_suIpY#_luLei"
                        target="_blank"
                        >Read JS 2: Functions & how to call them</a
                      >
              </li>
            </ol>
          </div>
        </div>
      </section>
    </div>

    <!-- 21.10.2024 -->
    <div class="class">
      <h2 class="btn">21.10.2024</h2>
      <section>
        <div class="class-wrapper"hidden >
          <div class="class-content">
            <h3>In class</h3>
            <ol>
              <li>
                      Fill out the
                      <a
                        href="https://forms.gle/DxmYvpif9CBLW3UH8"
                        target="_blank"
                        >mid-semester feedback survey</a
                      >
              </li>
              <li>
                      Review
                      <a href="p1/" target="_blank"
                        >Project 1: Collection</a
                      >
              </li>
            </ol>
            <h3>For next class</h3>
            <ol>
              <li>
                <a href="project-2.php" target="_blank"
                        >Project 2: Tool for One</a
                      >
                      – Come up with a proposal for this project. Your proposal
                      should include:
                      <ul>
                  <li>
                          The <em>person</em> you are going to make this tool
                          for
                        </li>
                  <li>
                    <em>Three sketches</em> that illustrate your idea. You
                          could design three different pages of your website,
                          three different states, propose three different visual
                          skins, or.... something else? Bring something to look
                          at!
                        </li>
                  <li>
                          At least <em>two references</em>: websites or other
                          artist projects that are inspirations for you. Could
                          be a conceptual inspiration, a visual inspiration, a
                          website that is functionally similar to what you want
                          to make, or that has a component that is similar to
                          what you imagine, etc...
                        </li>
                </ul>
              </li>
              <li>
                      Read/get familiar with the following before the
                      presentations:
                      <ul>
                  <li>
                          Todd Anderson,
                          <a
                            href="https://sfpc.study/blog/my-favorite-historical-viruses"
                            target="_blank"
                            >My Favorite Historical Viruses</a
                          >
                  </li>
                  <li>
                          MDN Web Docs,
                          <a
                            href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images"
                            target="_blank"
                            >Responsive Images</a
                          >
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </section>
    </div>

    <!-- 28.10.2024 -->
    <div class="class">
      <h2 class="btn">28.10.2024</h2>

      <section>
        <div class="class-wrapper">
          <div class="class-content">
            <h3>In class</h3>
            <ol>
              <li>Guest Lecture: <a href="https://www.mengjieliu.com" target="_blank">Mengjie Liu</a>
              </li>
              <!-- Group meetings: 120min -->
              <li>
                <a
                        href="/"
                        target="_blank"
                        >Group 1</a
                      >: proposals (120min)
                    </li>
            </ol>

            <h3>For next week</h3>
            <ol>
              <li>
                      Coding: Keyboard Instrument
                      <ul>
                  <li>
                          Complete exercise:
                          <a
                            href="https://docs.google.com/presentation/d/1ED_F66yi9BUagV1NhPRMwziragcCKwzTNiBpLmX9h6k/edit?usp=sharing"
                            >Keyboard Instrument</a
                          >
                  </li>
                  <li>
                          Read JS2:
                          <a
                            href="https://coda.io/d/_dyrqG8B5yKE/JS-2-Keyboard-instrument_suXCV"
                            >Keyboard Instrument</a
                          >
                  </li>
                </ul>
              </li>
              <li>
                      Project 2: Tool for One.
                      <p>
                        For next class, start working on a detailed spec and
                        rough draft of your tool. Bring the following to class:
                      </p>
                <ul>
                  <li>
                          A detailed, written description of your tool's
                          behavior.
                        </li>
                  <li>
                          A visual design for each page or state of your tool.
                        </li>
                  <li>
                          A prototype, in code, of at least one aspect of your
                          project. This could be a test of the single most
                          important interaction. It could be a single page coded
                          in HTML and CSS. Identify the most challenging aspect
                          of your project and start working on its
                          functionality.
                        </li>
                </ul>
              </li>
             
                    Read/get familiar with the following:
                    <ul>
                <li>
                        Toby Shorin, Sam Hart, Laura Lotti,
                        <a
                          href="https://otherinter.net/research/positive-sum-worlds/"
                          target="_blank"
                          >Positive Sum Worlds: Remaking Public Goods</a
                        >, 2021
                      </li>
                <li>
                        Hito Steyerl,
                        <a
                          href="https://www.artforum.com/video/hito-steyerl-how-not-to-be-seen-a-fucking-didactic-educational-mov-file-2013-165845/"
                          target="_blank"
                          >HOW NOT TO BE SEEN: A FUCKING DIDACTIC EDUCATIONAL
                          .MOV FILE</a
                        >, 2013
                      </li>
              </ul>
          </ol>
        </div>
      </div>
    </section>
  </div>

  <!-- 04.11.2024 -->
  <div class="class">
    <h2 class="btn">04.11.2024</h2>

    <section>
      <div class="class-wrapper" hidden>
        <div class="class-content">
          <h3>In class</h3>
          <ol>
            <li>Share Keyboard instrument</li>
            <li>
              <a
                        href="/"
                        >Group meetings: Project 2</a
                      >
            </li>
          </ol>
          <h3>For next week</h3>
          <ol>
            <li>
                      Project 2
                      <p>
                        For next class, make a rough draft of your project. This
                        should include:
                      </p>
              <ul>
                <li>
                          A coded, working prototype. At this stage,
                          functionality is more important than visual style.
                        </li>
                <li>
                          If there's a piece that you can't figure out
                          technically, make a visual sketch, and we can talk
                          about how to implement that.
                        </li>
              </ul>
            </li>
            <li>
                      Coding: Input/Output
                      <ul>
                <li>
                          Complete exercise:
                          <a href="input-output.html">Input/Output</a>
                </li>
                <li>
                          Read JS3:
                          <a
                            href="https://coda.io/d/_dyrqG8B5yKE/JS-2-Keyboard-instrument_suXCV"
                            >Forms & Inputs</a
                          >
                </li>

              </ul>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>

  <!-- 11.11.2024 -->
  <div class="class">
    <h2 class="btn">11.11.2024</h2>

    <section>
      <div class="class-wrapper" hidden>
        <div class="class-content">
          <h3>In class</h3>
          <ol>
            <li>Share: Input/Output exercise</li>
            <li>
              <a
                        href="https://docs.google.com/presentation/d/1iuDfBxEzfUK0Yu82R4_1zPGkEzxTyjkD3aMvF6c8-FY/edit?usp=sharing"
                        >Dynamic websites and APIs</a
                      >
            </li>
            <li>
                      Optional 1-1 meetings:
                      <a
                        href="https://docs.google.com/spreadsheets/d/1HC3ofR6WbYd165ZmpOM9fBuQSU-zuJYTpa-8X2DhfSs/edit?usp=sharing"
                        >Sign up here</a
                      >.
                    </li>
          </ol>
          <h3>For next week</h3>
          <ol>
            <li>
              <a
                        href="https://docs.google.com/presentation/d/1NtJ76rWQLG14-cinQbtOeUpD5IB0uMMiyCBYr3DNjaE/edit?usp=sharing"
                        >Exercise: Google Sheets as CMS</a
                      >
            </li>
            <li>
                      Project 2
                      <p>For next class, make working draft of your project.</p>
              <p>
                        We have two weeks before the review. The goal for next
                        week is to get the functionality built so you have one
                        more week to test, make changes, and polish the design.
                      </p>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>

  <!-- 18.11.2024 -->
  <div class="class">
    <h2 class="btn">18.11.2024</h2>

    <section>
      <div class="class-wrapper" hidden>
        <div class="class-content">
          <h3>In class</h3>
          <ol>
            <li>
                      1-1 meetings: Sign up
                      <a
                        href="https://docs.google.com/spreadsheets/d/1HC3ofR6WbYd165ZmpOM9fBuQSU-zuJYTpa-8X2DhfSs/edit?usp=sharing"
                        >here</a
                      >
            </li>
          </ol>
          <h3>For next week</h3>
          <ol>
            <li>
                      Finish project 2
                      <p>
                        We'll have a critique with guest
                        TBD, who's coming to New Haven.
                      </p>
              <p>
                        If you are late to class, we will not critique your
                        project.
                      </p>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>

  <!-- 02.12.2024 -->
  <div class="class">
    <h2 class="btn">02.12.2024</h2>
    <section>
      <div class="class-wrapper" hidden>
        <div class="class-content">
          <h3>In class</h3>
          <ol>
            <li>
                      Project 2 review.
                      <a
                        href="/"
                        target="_blank"
                        >Schedule here</a
                      >.
                    </li>
          </ol>
          <h3>Due December 9, 5pm</h3>
          <ol>
            <li>
                      Finish your class website. Your site should include links
                      to the following.
                      <ol>
                <li>Project 1: Collection</li>
                <li>Project 2: Tool</li>
                <li>Project 3: Topic presentation PDF</li>
                <li>
                          Exercises:
                          <ol>
                    <li>
                      <a href="ambient.html">Ambient Website</a>
                    </li>
                    <li>
                      <a
                                href="https://docs.google.com/presentation/d/1-rTMJrVQxpl7jGpoyGfFSMS8Gis2s-6rQsRZc7t_hW8/edit#slide=id.gc9a86f1bbd_1_0"
                                >Website As...</a
                              >
                    </li>
                    <li>
                      <a
                                href="https://docs.google.com/presentation/d/1T599vynJWAV5koTBrNjBGFCgmy7xw-Dn9YUIDQVFKqc/edit#slide=id.g10fd3dd6c23_0_3"
                                >Enzo Mari Remix</a
                              >
                    </li>
                    <li>
                      <a
                                href="https://docs.google.com/presentation/d/1ED_F66yi9BUagV1NhPRMwziragcCKwzTNiBpLmX9h6k/edit#slide=id.g10fd3dd6c23_0_3"
                                >Keyboard Instrument</a
                              >
                    </li>
                    <li>
                      <a href="input-output.html">Input/Output</a>
                    </li>
                    <li>
                      <a
                                href="https://docs.google.com/presentation/d/1NtJ76rWQLG14-cinQbtOeUpD5IB0uMMiyCBYr3DNjaE/edit#slide=id.p"
                                >Google Sheet as CMS</a
                              >
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
{% endblock %}