{% extends "layouts/base.njk" %}
{% block content %}

        <div class="wrapper">
                <h2>Tool for one</h2>
                <br>

                <h3 class="subhead">Kickoff February 29....Complete April 25</h3>

                <!-- <p>Make a website that takes user input and translates that to an output of your design.</p>

<h3>Objectives</h3>
<ul>
  <li>Get familiar using JavaScript to manipulate HTML and CSS.</li>
</ul>

<h3>Requirements</h3>
<ul>
  <li>Website must work on all screen sizes.</li>
</ul> -->

                <p>Make a website that is a tool designed for one specific, named person.</p>
                <p>Identify your person: you could choose somebody you know personally (and even work with them on the development of this tool). Or, you could design the site as a gift/fan project for somebody, a tool as homage. You could think of it as a promotional tool, a digital portrait, or otherwise. The important thing is that you identify the needs of this user specifically.</p>
                <p>You do not need to know this person, and they do not need to be alive; but they do need to be a specific person, and you should choose somebody you are very familiar with.</p>

                <a href="https://www.are.na/art-369-spring-2024/p2-tool-for-one" target="_blank">See Are.na ⬈⬈⬈⬈</a>

                <h3>Requirements</h3>
                <ul>
                        <li>Audience is a single, named person</li>
                        <li>Designed for a mobile device</li>
                        <li>Site somehow responds to user input or interaction</li>
                </ul>

                <h3>Learning objectives</h3>
                <ul>
                        <li>Creating a surprising UX by identifying the needs of a single named user.</li>
                        <li>Using JavaScript to build dynamic webpages.</li>
                        <li>Visual and interaction design for mobile device.</li>
                </ul>

                <h3>Milestones</h3>
                <ol>
                        <li>Proposal
    <p>Come up with a proposal for this project. Your proposal should include:</p>
                                <ul>
                                        <li>The person you are going to make this tool for</li>
                                        <li>Three sketches that illustrate your idea. You could design three different pages of your website, three different states, propose three different visual skins, or.... something else? Bring something to look at!</li>
                                        <li>At least two references: websites or other artist projects that are inspirations for you. Could be a conceptual inspiration, a visual inspiration, a website that is functionally similar to what you want to make, or that has a component that is similar to what you imagine, etc...</li>
                                </ul>
                        </li>
                        <li>Written Spec & Rough Draft
        <p>This step is meant as first step toward building your tool. It includes the following elements:</p>
                                <ul>
                                        <li>Spec–a detailed, written description of your tool's behavior.</li>
                                        <li>Design–a visual design for each page or state of your tool.</li>
                                        <li>Prototype–a prototype, in code, of at least one aspect of your project. This could be a test of the single most important interaction. It could be a single page coded in HTML and CSS. Identify the most challenging aspect of your project and start working on its functionality.</li>
                                </ul>
                        </li>
                        <li>Final review - 4/25</li>
                </ol>
        </div>
{% endblock %}