{% extends "layouts/base.njk" %}
{% block content %}
        <div class="wrapper">
                <h2>Symposium</h2>
                <br>
                <h3 class="subhead">Kickoff January 25</h3>
                <p>Working in groups of two, pick a topic from the <a href="https://docs.google.com/document/d/1rdxH2v0NIHZ_QgGhX1F9ChC-OH1EiD8JEUF_MUdq3qA/edit?usp=sharing" target="_blank">list</a>. Do some research about this technology. You should both narrow-down and expand the list of references provided. Focus your interest on a specific topic or application.</p>

                <p>Then, propose an idea for how you might use this technology in your work. You don't have to realize this project, although you could. But you should illustrate an artistic application of the topic.</p>

                <p>Prepare a 20-minute presentation of your work and your creative proposal to share in class.</p>

                <h3>Objectives</h3>
                <ul>
                        <li>Learn about current web technologies.</li>
                        <li>Think through how to sketch, prototype, and explain a creative project.</li>
                        <li>Learn to use Figma design software.</li>
                </ul>

                <h3>Requirements</h3>
                <ul>
                        <li>20-minute presentation that is thoughtful, creative, and visually designed.</li>
                        <li>A specific, original proposal for how to use this technology.</li>
                </ul>
        </div>
{% endblock %}