{% extends "layouts/base.njk" %}
{% block content %}
        <div class="wrapper">
                <h2>Resources</h2>
                <br>

                <h3>Class resources</h3>
                <ul>
                        <li>
                                <a href="https://coda.io/d/_dyrqG8B5yKE/Tech-course-spring-2023_sulDl" target="_blank" class="button">Lecture notes</a>
                        </li>
                        <li>
                                <a href="https://drive.google.com/drive/folders/1IVCJn8-22PGfFBNmMka3W1Lm2szbi6Xy?usp=sharing" target="_blank" class="button">Lecture slides</a>
                        </li>
                        <li>
                                <a href="https://docs.google.com/document/d/1-AFkopFr6-Ovb_dkg-Uuw-n24T9BZ9n0xtl2obOXAOY/edit?usp=sharing" target="_blank" class="button">Syllabus</a>
                        </li>
                </ul>

                <h3>Coding help</h3>
                <ul>
                        <li>
                                <a href="https://fantastical.app/alvinashiatey/alvinashiatey-office-hours" target="_blank" class="button">
    Office hours w/Alvin, Wednesdays 6-8pm on Zoom
  </a>
                        </li>

                </ul>

                <h3>General tools</h3>
                <ul>
                        <li>
                                <a href="https://code.visualstudio.com/" target="_blank" class="button">
    VS Code
    </a>
                        </li>
                        <li>
                                <a href="https://glitch.com/" target="_blank" class="button">
    Glitch
  </a>
                        </li>
                        <li>
                                <a href="https://www.figma.com/" target="_blank" class="button">
    Figma
  </a>
                        </li>
                </ul>

                <h3>Resources for hosting</h3>
                <ul>
                        <li>
                                <a href="https://docs.google.com/document/d/1mNeYlf0u3b8YMbYJk5JNHx02c8u-OR9x9Nr8w-lDJvo/edit#heading=h.od26wkvxkvhy" target="_blank" class="button">
    How to add a custom domain to your Github Pages website
    </a>
                        </li>
                        <li>
                                <a href="https://docs.google.com/document/d/1RNrngJsjNK08AmrFWtYqWpRxzXZ1Uk89feFOzaf0-4Q/edit?usp=sharing" target="_blank" class="button">
    How to get a domain, hosting, and make your website without Github Pages
    </a>
                        </li>
                        <li>
                                <a href="https://docs.google.com/presentation/d/1epXIN6ri8ATsVSCQRWwFVMZrHCJboDGyMGwVyBBG82Y/edit?usp=sharing">How to get a domain, hosting, and make your website without Github Pages (alternate version)</a>
                        </li>
                </ul>

                <h3>Other good things to know about</h3>
                <ul>
                        <li>
                                <a href="https://www.index-space.org/" target="_blank" class="button">
      Index space
    </a>
                        </li>
                        <li>
                                <a href="https://sfpc.io/" target="_blank" class="button">
      School for poetic computation
    </a>
                        </li>
                        <li>
                                <a href="https://www.recurse.com/" target="_blank" class="button">
    Recurse Center
  </a>
                        </li>
                        <li>
                                <a href="http://southland.institute/main.html" target="_blank" class="button">
    Southland Institute
  </a>
                        </li>
                        <li>
                                <a href="https://pioneerworks.org/technology/residency/" target="_blank" class="button">
    Pioneer Works Technology Residency
  </a>
                        </li>
                        <li>
                                <a href="https://www.wordsofmouth.org/" target="_blank" class="button">
    Words of Mouth job newsletter
  </a>
                        </li>
                        <li>
                                <a href="https://www.jobs.art/" target="_blank" class="button">
    Jobs.art listings board
  </a>
                        </li>
                        <li>
                                <a href="https://www.newinc.org/" target="_blank" class="button">
    New Inc incubator
  </a>
                        </li>
                        <li>
                                <a href="https://html.energy/" target="_blank" class="button">
    HTML energy podcast
  </a>
                        </li>
                </div>
        </div>
{% endblock %}